.container {
  color: white;
  background-image: url("../../assets/worldmap.png");
  background-color: #0d182e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  gap: 0 1.5em;
  justify-content: center;
  align-items: center;
  padding: 2.25em 0;
  font-weight: 600;
}

.container h1 {
  color: #f89315;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.container p {
  margin-top: 0.2em;
  font-size: 1.25rem;
}

.logo {
  max-height: 130px;
}
